
body {
    width: 33%;
}

#res {
    background-color: lightgray;
    border-style: solid;
    height: 48px;;
    font-size: 20px;
}

#btn0,
#btn1 {
    background: lightgreen;
    color: brown;
}

#btnClr,
#btnEql {
    background: darkgreen;
    color: white;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv {
    background: black;
    color: red;
}

#btns button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0;
    float: left;
}